
/* Страницы каталога */

.nav-catalog {
	padding: 30px 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-radius: 40px;
	user-select: none;

	@media (max-width: 560px) {
		padding-top: 15px;
	}
	
	&__radio:hover {
		background: radial-gradient( #faf9fa,#ddd5dd, #d8b4e0, #c392cf);
	}

	&__radio-btn:checked+&__radio {
		background: radial-gradient( #faf9fa,#ddd5dd, #8577da, #1b094e);
	}

	&__radio-btn {
		display: none;
	}

	&__radio {
		padding: 15px;
		width: 240px;
		display: block;
		font-size: 22px;
		text-align: center;
		color: rgb(36, 58, 92);
		border-radius: 40px;
		background: radial-gradient( #faf9fa,#faf9fa, #d8d1d8, #adaaaf);
		cursor: pointer;

		@media (max-width: 965px) {
			width: 220px;
			font-size: 20px;
		}
		@media (max-width: 890px) {
			width: 200px;
			font-size: 19px;
		}
		@media (max-width: 800px) {
			width: 180px;
			font-size: 17px;
		}
		@media (max-width: 720px) {
			padding: 10px;
			width: 160px;
			font-size: 16px;
		}
		@media (max-width: 640px) {
			padding: 10px 8px;
			width: 150px;
			font-size: 15px;
		}
		@media (max-width: 600px) {
			width: 140px;
			font-size: 14px;
		}
		@media (max-width: 560px) {
			padding: 10px 3px;
			width: 130px;
		}
		@media (max-width: 520px) {
			padding: 8px 2px;
			width: 120px;
			font-size: 13px;
		}
		@media (max-width: 480px) {
			width: 110px;
			font-size: 12px;
		}
		@media (max-width: 440px) {
			width: 100px;
			font-size: 11px;
		}
		@media (max-width: 400px) {
			width: 90px;
			font-size: 10px;
			padding: 8px 1px;
		}
		@media (max-width: 360px) {
			width: 85px;
			font-size: 9px;
		}
	}
}

.catalog {
	
	&__store {
		margin: auto;
		padding: 30px 40px;
		width: 100%;
		min-height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;

		@media (max-width: 670px) {
			padding: 30px 20px;
		}
		@media (max-width: 620px) {
			padding: 30px 0;
		}
		@media (max-width: 560px) {
			width: 100%;
		}
	}

	&__kitchen-offer {
		margin: auto;
		width: 500px;
		min-width: 500px;
		height: 350px;
		box-shadow: 0px 20px 20px 0 rgba(146, 145, 145, 0.5);

		@media (max-width: 1366px) {
			flex-grow: 1;
		}
		@media (max-width: 600px) {
			height: 300px;
		}
		@media (max-width: 500px) {
			min-width: 100%;
		}
		@media (max-width: 440px) {
			height: 250px;
		}
		@media (max-width: 380px) {
			height: 200px;
		}
	}
}

