.hero {
	padding-top: 100px;
	
	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 auto;	
	}

	&__offer {
		display: block;
	}

	&__bg {
		display: block;
		padding: 0;
		width: 800px;
		min-height: 434px;
	}

	&__image {
		max-width: 100%;
		box-shadow: -10px 0 30px 0px rgba(117, 116, 116, 0.5);
	}

}

.offer {
	margin-left: 50px;
	line-height: 1.5;

	&__text {
		font-size: 30px;
		font-weight: bold;
		margin: 120px 0px 40px 0px;
		color: #0f1c30;
	}

	&__button {
		border: none;

		&:hover {
			border: none;
		}
		&:active {
			border: none;
		}
	}
}

@media (max-width: 1160px) {
	.offer {
		
		&__text {
			font-size: 22px;
		}

		&__button {
			margin-left: 30px;
			font-size: 12px;
			padding: 13px 18px;
			&:active {
				padding: 10px 15px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.offer {
		
		&__text {
			font-size: 22px;
		}

		&__button {
			margin-left: 30px;
			font-size: 12px;
		}
	}
}

@media (max-width: 991px) {
	.offer {
		
		&__text {
			margin-top: 80px;
		}
	}
}

@media (max-width: 800px) {
	.offer {
		margin-left: 20px;

		&__text {
			font-size: 18px;
			margin-top: 60px;
		}

		&__button {
			margin-left: 0;
			font-size: 10px;
		}
	}
}

@media (max-width: 700px) {
	.hero {

		&__bg {
			width: 500px;
		}
	}

	.offer {
		margin-left: 30px;
		&__text {
			font-size: 16px;
			margin-bottom: 20px;
		}

		&__button {
			font-size: 10px;
			padding: 10px 15px;
			&:active {
				padding: 8px 13px;
			}
		}
	}
}

@media (max-width: 570px) {
	.offer {
		margin-left: 10px;
		&__text {
			font-size: 12px;
			margin-top: 35px;
		}

		&__button {
			font-size: 8px;
			padding: 8px 13px;
			&:active {
				padding: 7px 12px;
			}
		}
	}
}

@media (max-width: 450px) {
	.hero {

		&__bg {
			width: 350px;
		}
	}
}

@media (max-width: 380px) {
	.hero {
		&__bg {
			width: 250px;
			height: 350px;
		}

		&__image {
			height: 350px;
			object-fit: cover;
			object-position: left;
		}
	}

	.offer {
		&__text {
			font-size: 14px;
			margin: 100px 0px 40px 0px;
		}

		&__button {
			font-size: 10px;
			padding: 10px 15px;
			&:active {
				padding: 9px 14px;
			}
		}
	}
}
