.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;

	&__container {
		min-height: 100px;
		background-color: rgb(239, 228, 245);
		border-bottom: 1px solid rgb(171, 171, 173);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 80%;
		margin: 0 auto;	
	}

	&__burger {
		margin-left: -40px;
	}

	&__phone {
		display: block;
		font-size: 20px;
		font-weight: bold;
		color: #264981;
		margin-bottom: 10px;
	}

	&__button {
		border: 2px solid #264981;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		color: #264981;
		padding: 17px 22px;
		background-color: rgb(255, 255, 255);

		&:hover {
			border-color: #264981;
			background-color:  #3250b6;
			color: #ffffff;
		}
		&:active {
			border: 5px solid #264981;
			padding: 14px 19px;
			transition: all .1s;
		}

	}

}

.menu-burger {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	height: 90px;
	width: 45px;

	&__line {
		display: block;
		width: 40px;
		height: 4px;
		background-color: rgb(19, 29, 170);
		margin: 4px 0;
		border-radius: 30%;
	}
}

.logo {

	&__text {
		display: block;
		font-family: 'Eagle Lake Regular', sans-serif;
		font-size: 48px;
		text-transform: uppercase;
		background: linear-gradient(180deg, #2a087a 33%, #3557c5 50%, #10096e);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color:  #264981;
		margin-bottom: 10px;
	}

	&__description {
		display: block;
		font-size: 18px;
		font-weight: bold;
		color:  #0f1c30;
		
	}

}

.menu {
	position: fixed;
	z-index: 0;
	width: 100%;
	top: 100px;
	left: 0;
	padding: 16px 0;
	background-color: #2a087a;	
	color: white;
	transform: translateY(-200%);
	opacity: 0;
	&_active {
		transform: translateY(0);
		opacity: 1;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__link {
		font-size: 17px;
		text-transform: uppercase;
		color: white;
	}
}

@media (max-width: 991px) {
	.navbar {
		&__phone, &__working-time {
			display: none;
		}
	}

	.menu {
	
		&__link {
			font-size: 14px;
		}
	}
}

@media (max-width: 700px) {
	.navbar {

		&_container {
			min-height: 80px;
		}

		&__wrapper {
			justify-content: space-around;
		}

		&__logo {
			display: none;
		}

		&__button {
			font-size: 10px;
		}
		
	}

	.menu {
		top: 60px;

		&__nav {
			flex-direction: column;
			padding-top: 50px;
		}

		&__link {
			margin-bottom: 20px;
		}
	}

	.menu-burger {
		height: 70px;
		width: 30px;
	
		&__line {
			width: 30px;
			height: 3px;
			margin: 3px 0;
		}
	}

}

@media (max-width: 600px) {
	.navbar {
		&__container {
			min-height: 70px;
		}

		&__button {
			border: 2px solid #264981;
			font-size: 10px;
			text-transform: uppercase;
			font-weight: bold;
			color: #264981;
			padding: 13px 18px;
			background-color: rgb(255, 255, 255);

			&:hover {
				border-color: #264981;
				background-color:  #3250b6;
				color: #ffffff;
			}
			&:active {
				border: 3px solid #264981;
				padding: 10px 15px;
				transition: all .1s;
			}
		}
	}

	.menu {
		top: 30px;
	
	}
}

@media (max-width: 400px) {
	.navbar {

		.menu-burger {
			margin-left: 0;
		}
	}
}