.popup {
	margin-top: 100px;
	padding-bottom: 50px;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 20;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.8s ease 0s;

	@media (max-width: 800px) {
		margin-top: 90px;
	}
	@media (max-width: 700px) {
		margin-top: 70px;
	}
	
	&_catalog {
		margin-top: 150px;
		padding-top: 0px;

		@media (max-width: 1000px) {
			margin-top: 115px;
		}
		@media (max-width: 700px) {
			margin-top: 100px;
		}
		@media (max-width: 545px) {
			margin-top: 100px;
		}
		@media (max-width: 440px) {
			margin-top: 80px;
		}
		@media (max-width: 405px) {
			margin-top: 70px;
		}
	}

	&_about {
		margin-top: 115px;

		@media (max-width: 700px) {
			margin-top: 100px;
		}
		@media (max-width: 440px) {
			margin-top: 80px;
		}
		@media (max-width: 400px) {
			margin-top: 70px;
		}
	}

	&__content {
		max-width: 900px;
		margin: 40px auto;
		padding: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-indent: 0;
		background: white;
		color: black;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
		opacity: 0;
		transition: all 0.8s ease 0s;

		@media (max-width: 1000px) {
			padding: 10px;
		}
		@media (max-width: 790px) {
			padding: 15px 10px;
		}
	}

	&__image {
		max-width: 430px;
		height: 350px;
		margin-left: -25px;
		box-shadow: 20px 20px 10px 0 rgba(60, 70, 161, 0.5), -20px -20px 10px 0 rgba(158, 60, 161, 0.5);

		@media (max-width: 1000px) {
			width: 330px;
			height: 260px;
			box-shadow: 5px 5px 10px 0 rgba(60, 70, 161, 0.5), -5px -5px 10px 0 rgba(158, 60, 161, 0.5);
		}
		@media (max-width: 600px) {
			margin-left: 10px;
		}
		@media (max-width: 540px) {
			width: 300px;
			height: 230px;
			box-shadow: 5px 5px 10px 0 rgba(60, 70, 161, 0.5), -5px -5px 10px 0 rgba(158, 60, 161, 0.5);
		}
		@media (max-width: 480px) {
			width: 200px;
			height: 250px;
			object-fit: cover;
			object-position: center;
		}
		@media (max-width: 360px) {
			width: 170px;
			height: 210px;
			margin-left: -20px;
		}
		@media (max-width: 330px) {
			width: 150px;
			height: 200px;
			margin-left: -10px;
		}
	}

	&__text {
		padding-left: 50px;
		margin: 20px 0 20px 30px;	
		display: flex;
		flex-direction: column;
		
		@media (max-width: 1000px) {
			padding-left: 0;	
		}
		@media (max-width: 540px) {
			margin: 30px 0 20px 10px;	
		}
		@media (max-width: 360px) {
			margin-right: -20px;
		}
		@media (max-width: 360px) {
			margin-right: -10px;
		}
	}

	&__features {
		margin-bottom: 7px;
		font-size: 20px;
		text-align: right;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 20px;
		text-decoration: none;
		color: black;
		
		@media (max-width: 1000px) {
			font-size: 14px;	
		}
		@media (max-width: 380px) {
			font-size: 12px;
		}
		@media (max-width: 360px) {
			font-size: 10px;	
		}
	}

	&__title {
		margin-bottom: 35px;
		font-size: 30px;
		font-family: 'Russo One';
		color: #161557;
		text-transform: uppercase;

		@media (max-width: 1000px) {
			margin-bottom: 15px;	
			font-size: 20px;
		}
		@media (max-width: 480px) {
			margin-bottom: 10px;	
			font-size: 16px;
		}
	}

	&__old-price {
		color: rgb(82, 80, 80);
		
		@media (max-width: 1000px) {
			font-size: 16px;
		}
		@media (max-width: 540px) {
			font-size: 12px;	
		}
	}

	&__new-price {
		margin-bottom: 35px;
		font-family: 'Russo One';
		font-size: 20px;
		color: rgb(0, 0, 0);

		@media (max-width: 1000px) {
			margin-bottom: 15px;
			font-size: 14px;	
		}
		@media (max-width: 480px) {
			margin-bottom: 10px;	
			font-size: 12px;
		}
	}

	&__price {
		margin-top: 10px;
		display: block;
		font-size: 24px;
		color: rgb(83, 16, 63);

		@media (max-width: 1000px) {
			font-size: 16px;	
		}
		@media (max-width: 480px) {
			font-size: 14px;	
		}
	}

	&__order {
		@include button();
		margin-bottom: 20px;
		padding: 10px 13px;
		font-size: 14px;
		text-align: center;
		&:active {
			padding: 8px 11px;
			font-size: 12px;
			border: 4px solid #3d2050;
		}

		@media (max-width: 1000px) {
			margin-bottom: 10px;
			padding: 5px;
			font-size: 10px;
			&:active {
				padding: 5px;
				font-size: 9px;	
				border: 2px solid #3d2050;
			}
		}
		@media (max-width: 480px) {
			font-size: 9px;
			&:active {
				font-size: 9px;
			}
		}
	}

	&__advantages {
		margin-bottom: 10px;
		position: relative;
		font-weight: bold;
		text-align: right;
		&:nth-child(1)::before {
			right: 91px;
		}
		&:nth-child(2)::before {
			right: 72px;
		}
		&:nth-child(3)::before {
			right: 112px;
		}
		&::before {
			content: '';
			background: url('../img/icons/success.png');
			width: 25px;
			height: 32px;
			position: absolute;
			top: -6px;
			
		}

		@media (max-width: 1000px) {
			margin-bottom: 4px;
			font-size: 12px;
			&:nth-child(1)::before {
				right: 55px;
			}
			&:nth-child(2)::before {
				right: 44px;
			}
			&:nth-child(3)::before {
				right: 68px;
			}
			&::before {
				width: 12px;
				height: 18px;
				background-size: 15px;
				background-position: center;
			}
		}
	}
}

.popup-open {
	visibility: visible;
	opacity: 1;

	.popup__content {
		transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
		opacity: 1;
	}
}

.lock {
	overflow: hidden;
}

.popup-form {
	
	&__group {
		display: flex;
		flex-direction: column;
	}

	&__input {
		@include input;
		margin-bottom: 20px;

		@media (max-width: 540px) {
			height: 30px;
			font-size: 16px;
		}
		@media (max-width: 440px) {
			font-size: 14px;
		}
		@media (max-width: 400px) {
			height: 20px;
			font-size: 12px;
		}
	}
}

.popup2 {

	&__text {
		margin-left: 0;
	}

	&__title {
		margin-bottom: 40px;
		font-size: 26px;
		font-family: 'Open Sans Regular';
		font-weight: bold;
		color: black;
		text-transform: none;
		line-height: 1.5;

		@media (max-width: 540px) {
			font-size: 20px;
		}
		@media (max-width: 440px) {
			font-size: 16px;
		}
		@media (max-width: 400px) {
			font-size: 13px;
		}
		@media (max-width: 345px) {
			margin-bottom: 20px;
			font-size: 10px;
		}
	}

	&__image {
		width: 200px;
		height: 200px;
		display: none;
		float: right;

		@media (max-width: 540px) {
			width: 150px;
			height: 150px;
		}
		@media (max-width: 400px) {
			width: 120px;
			height: 120px;
		}
		@media (max-width: 345px) {
			width: 100px;
			height: 100px;
		}
	}
}

.popup-form {

	&__button {
		@include button();
		margin: 35px auto 0;
		padding: 10px;
		width: 175px;
		font-size: 16px;
		text-align: center;
		&:active {
			padding: 8px;
			width: 170px;
			font-size: 14px;
		}

		@media (max-width: 540px) {
			margin-top: 10px;
			padding: 10px;
			width: 145px;
			font-size: 11px;
			border: 2px solid #3557c5;
			&:active {
				margin-top: 10px;
				padding: 10px;
				width: 140px;
				font-size: 11px;
				border: 3px solid #3d2050;
			}
		}
		@media (max-width: 400px) {
			padding: 5px;
			width: 105px;
			font-size: 9px;
			border: 1px solid #3557c5;
			&:active {
				padding: 5px;
				width: 100px;
				font-size: 8px;
				border: 2px solid #3d2050;
			}
		}
	}

	&__button2 {
		@include button();
		margin: 15px auto 0;
		padding: 15px;
		display: none;
		width: 275px;
		font-size: 15px;
		text-align: center;
		&:active {
			padding: 13px;
			width: 270px;
			font-size: 12px;
		}

		@media (max-width: 540px) {
			margin-top: 10px;
			padding: 10px;
			width: 200px;
			font-size: 12px;
			border: 2px solid #3557c5;
			&:active {
				margin-top: 10px;
				padding: 10px;
				width: 200px;
				font-size: 11px;
				border: 3px solid #3d2050;
			}
		}
		@media (max-width: 400px) {
			margin-top: 5px;
			padding: 5px;
			width: 160px;
			font-size: 9px;
			border: 1px solid #3557c5;
			&:active {
				padding: 5px;
				width: 160px;
				font-size: 8px;
				border: 2px solid #3d2050;
			}
		}
	}
}