
/* Блок с особенностями компании */

.features {

	&__title {
		margin: 100px 0 20px;
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		color: #213b66;

		@media (max-width: 1366px) {
			font-size: 24px;
		}
	}
}